

/*Centrar*/

    
    .pagina{

        width: 1477px;
        
    }


/*     Header     */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{

    display: flex;
    align-items: center;
}
.logo>img{
    height: 21px;
    width: 21px;
}

.logo>h1{

    font-size: 21px;
    font-family: Poppins;
    padding-left: 10px;
    color: #285E67;
}

.nav>ul{
    display: flex;
    

}
.nav>ul>li{

    list-style: none;
}
.nav>ul>li>a{

    color:#2B2B2B;
    text-decoration: none;
    padding-right: 100px;
    font-family: Poppins;
    font-size: 16px;
}



/*   Main   */



.main1{
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}
.main1>h1{
    font-size: 65px;
    font-family: Poppins;
    color: #2A2A2A;

}
.main1>p{
    font-size: 16px;
    font-family: Poppins;
    color: #2A2A2A;
}

.main1>button{

    width: 250px;
    height: 56px;
    background-color: #285E67;
    font-size: 21px;
    font-family: Poppins;
    color: #FFFFFF;    
    border-radius: 65px;

}


.mainfotos{

    display: flex;
    align-items: center;
    justify-content: center;

}
.mainfotos>img{

    padding-left: 25px;
    padding-right: 25px;
    width: 644px;
    height: 391px;

}



.main2{         
    border-radius: 12px;

    width: 1337px;
    display: flex;
    justify-content: center;
    background-color: #F4F4F4;

}
.centrar{

    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center; 
    align-items: center; 

}
.main21{
    display: block;
    width: 550px;
    align-items: center;  
    justify-content: center; 


}
.main21>div{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.main21>div>div{
    padding: 20px;
    width: 260px;

}
.main21>div>div>p{
    font-size: 16px;
    font-family: Poppins;

}


.main3{

    display: flex;
    justify-content: center;


}
.main3>img{

    width:642px ;
    height: 578px;

}
.main3>div{

    width: 642px;
    padding: 25px;

}

.main3>div>h1{

    font-size: 50px;
    font-family: Poppins;
    color: #2B2B2B;
}
.main3>div>p{

    font-size: 16px;
    font-family: Poppins;
    color: #2B2B2B;
}
.main3>div>ul>li{

    display: flex;
    width: 500px;
    padding:10px;

}
.main3>div>ul>li>p{

    font-family: Poppins;
    font-size: 16px;
    color

}


/*footer*/




.foot{

    justify-content: space-between;
    display: flex;
    background-color: #285E67;
    height: 245px;
    align-items: center;
    
    
}

.logofoot{
    padding-left: 50px;
    display: flex;
    align-items: center;
}
.RRSS{
    padding-left: 50px;
}
.RRSS>img{
padding: 10px;

}
.logofoot>img{
    height: 21px;
    width: 21px;
}

.logofoot>h1{

    font-size: 21px;
    font-family: Poppins;
    padding-left: 10px;
    color: #FFFFFF;
}

.nav2>ul{
    display: flex;
    

}
.nav2>ul>li{

    list-style: none;
}
.nav2>ul>li>a{

    color:#FFFFFF;
    text-decoration: none;
    padding-right: 100px;
    font-family: Poppins;
    font-size: 16px;
}